<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Standard Encoding-->
                <meta charset="UTF-8">
                
            <!-- Renders the width of the page-->
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Specifies document mode for IE-->
                <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <!-- Title of Site-->
                <title>UFC Tracker</title>
            
            <body style="background-color:grey;"></body>

            <!-- Linking CSS-->
            <link href="/Users/gino/Desktop/Projects/UFC-Tracking/templates/style.css" rel = "stylesheet" type = "text/css">

            <!--Linking JS-->
            <body>
	            <script src="index.js"></script>
            </body>
    </head>

        <body>
                <!-- Tab Links-->
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Champions')">Champions</button>
                    <button class="tablinks" onclick="openTab(event, 'Rankings')">Rankings</button>
                    <button class="tablinks" onclick="openTab(event, 'Search')">Search</button>
                </div>

                <!-- Tab Content -->
                <div id="Champions" class="tabcontent">
                    <h3>Champions</h3>
                </div>
                <div id="Rankings" class="tabcontent>">
                    <h3>Rankings</h3>
                </div>
                <div id="Search" class="tabcontent">
                    <h3>Search</h3>
                </div>
        </body>


</html>